
input#createMap.prim-btn.botton {
  padding: 12px 70px;
}

#position-container {
  overflow-y: scroll;
  overflow-x: auto;
  margin: 11px;
  position: absolute;
  margin-top: 55;
  z-index: 200;
  width: 270;
  height: 170px;
}

.position-label {
  border-radius: 2px;
  background: rgb(251, 255, 255);
  cursor: pointer;
  padding: 4%;
  margin-bottom: 4px;
  font-size: 14px;
  font-family: sans-serif;
}

#map-ui {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

#map-tip {
  list-style: disc;
  font-size: 17px;
  font-family: 'Lucida Sans';
  ;
  font-weight: 200;
}

#mapviewport {
  width: 100%;
  height: 100%;
}

#new-percel-viewport {
  position: static;
  display: flex;
  text-align: center;
  min-width: 375x;
  top: 15vh;
  padding: 5px;
  border: none;
  margin: auto;
  margin-top: 10px;
}

form#new-percel-viewport.elevate {
  margin-top: -28px
}

#create-field1 {
  padding:0 2%;
  margin: 0 auto;
  text-align: center;
}
.item-summary{
  text-align: center;
  padding: 1% 3%;
  margin-bottom: 2%;
  border-bottom: 1px solid #F5F5F5;
}

#create-field1 a {
  display: block;
  margin: auto;
}

#create-sumary {
  background: white;
}

/* mobile screen */
@media screen and (max-width:500px) {

  #create-field1 {
    transition: 0.2s;
    text-align: center;
  }

  #create-sumary {
    margin: 10px 0;
  }

  textarea {
    height: 25%;
    width: 90%;
  }

}

@media screen and (min-width:500px) {
  #create-field1 {
    width: 40%;
  }

  #new-parcel-viewport {
    display: block;
  }

  #percel-form {
    display: flex;
  }

}

@media screen and (min-width:1371px) {}