input#createMap.prim-btn.botton {
  padding: 12px 70px;
}

#map-wait-animation {
  margin: auto;
  width: 50%;
  text-align: center;
  padding-top: 50%;
}

.input-icon {
  border-radius: 2px;
  border: 1px solid #ccc;
  background: transparent;
}

#position-container {
  display: none;
  overflow-y: scroll;
  overflow-x: auto;
  margin: 11px;
  position: absolute;
  margin-top: 55;
  z-index: 200;
  width: 270;
  height: 170px;
}

.position-label {
  border-radius: 2px;
  background: rgb(251, 255, 255);
  cursor: pointer;
  padding: 4%;
  margin-bottom: 4px;
  font-size: 14px;
  font-family: sans-serif;
}

#map-ui {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

#map-tip {
  list-style: disc;
  font-size: 17px;
  font-family: 'Lucida Sans';
  font-weight: 200;
}

#mapviewport {
  width: 100%;
  height:   138%;
}

#new-percel-viewport {
  position: static;
  display: flex;
  text-align: center;
  min-width: 375x;
  top: 15vh;
  padding: 5px;
  border: none;
  margin: auto;
  margin-top: 10px;
}

form#new-percel-viewport.elevate {
  margin-top: -28px
}

#create-field1 {
  padding-top: 2%;
  padding-left: 2%;
  padding-right: 2%;
  margin: 0 auto;
  text-align: center;
}

.item-summary {
  text-align: start;
  padding: 1% 7%;
  margin-bottom: 2%;
  border-bottom: 1px solid #F5F5F5;
}

#create-field1 a {
  display: block;
  margin: auto;
}

#create-sumary {
  background: white;
}

.multi-display {
  display: flex;
}

/* mobile screen */
@media screen and (max-width:500px) {
  #mapviewport {
    height:   100%;
  }
  
  #create-field1 {
    transition: 0.2s;
    text-align: center;
  }

  #map-wait-animation {
    padding-top: 41%;
  }

  #create-sumary {
    margin: 10px 0;
  }

  textarea {
    height: 25%;
    width: 90%;
  }

}

@media screen and (min-width:500px) {

  

  .multi-display {
    display: block;
  }

  #create-field1 {
    width: 75%;
  }

  #new-parcel-viewport {
    display: block;
  }

  #percel-form {
    display: flex;
  }
  #map-wait-animation {
    padding-top: 80%;
  }

}

@media screen and (min-width:1100px) {
  #create-field1 {
    width: 65% !important;
  }
  #map-wait-animation {
    padding-top: 58% !important;
  }
  .multi-display {
    display: flex !important;
  }

}

@media screen and (min-width:1400px) {
  #map-wait-animation {
    padding-top: 29% !important;
  }

  #create-field1 {
    width: 40% !important;
  }

}

/* on sidebar display snap*/
@media screen and (min-width:761px) {
  #map-wait-animation {
    padding-top: 90%;
  }
  #create-field1 {
    width: 90%;
  }
}