.place-picker {
  display: inline-flex;
  outline: none;
  background-size: 25px 25px;
  background: url("../images/icons/location.svg") no-repeat;
  width: 20px;
  height: 25px;
}

input#createMap.prim-btn.botton {
  padding: 12px 70px;
}

#position-container {
  overflow-y: scroll;
  overflow-x: auto;
  padding: 6px;
  border: 1px solid white;
  margin: 11px;
  position: absolute;
  margin-top: 55;
  z-index: 200;
  width: 270;
  height: 170px;
}

.position-label {
  border-radius: 2px;
  background: rgb(251, 255, 255);
  cursor: pointer;
  padding: 4%;
  margin-bottom: 4px;
  font-size: 14px;
  font-family: sans-serif;
}

#map-ui {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

#map-tip {
  list-style: disc;
  font-size: 17px;
  font-family: 'Lucida Sans';
  ;
  font-weight: 200;
}

#percel-form {
  background: whitesmoke;
  padding-top: 25px;
  padding-bottom: 25px;
}

#mapviewport {
  width: 100%;
  height: 100%;
}

#new-percel-viewport {
  position: static;
  display: flex;
  text-align: center;
  min-width: 375x;
  top: 15vh;
  padding: 5px;
  border: none;
  margin: auto;
  margin-top: 10px;
}

form#new-percel-viewport.elevate {
  margin-top: -28px
}

#create-field1{
  display: inline-block;
  width: 80%;
  text-align: center;
}
#create-field1 a{
  display: block;
  margin: auto;
}

#create-sumary {
  background:#FFEBAC;
  width: -webkit-fill-available;
  margin: 0 20px;
  border-style: dashed;
  border-color: #FFEBAC;
}

/* mobile screen */
@media screen and (max-width:500px) {

  #create-sumary{
    height: 50%;
    margin: 10px 0;
    width: 89%;
    margin: auto;
  }

  textarea {
    height: 25%;
    width: 90%;
}

}

textarea#percel-description-input {
width: 90%;
}

@media screen and (min-width:500px) {
  
  #new-parcel-viewport {
    display: block;
  }

  #percel-form {
    display: flex;
  }

}

@media screen and (min-width:1371px) {

  /*
  #new-parcel-viewport {
    display: flex;
  }
  */
  /*
  #percel-form {
    display: block;
    width: 45%;
  }
*/
/*
  #percel-description-input {
    height: 60%;
    width: 90%;
  }
  */


}