#packageOption {
    display: block;
}

.package-preview {
    background-color: #323544;
    color: white;
    cursor: pointer;
    height: 55px;
    position: relative;
    border-radius: 4px;
}

.package-preview:hover {
    background: #FF5722;
    transition-duration: 0.2s;
}

.package-preview:hover {
    background: #FF5722;
    transition-duration: 0.2s;
}

.package-content {
    background: whitesmoke;
    border-top-style: none;
    border-top-left-radius: 0px;
    border-bottom-right-radius: 0px;
    padding: 10px;
}

.package {
    display: block;
    margin-bottom: 25px;
}

#package-btn {
    display: flex;
}

.meta {
    display: inline-block;
}

section.package {
    margin: 16px;
}

.steer-cancel-icon,
.steer-icon,
.ack-cancel,
.ack-delete {
    cursor: pointer;
}

.parcel-action {
    text-align: center;
}

#percel-description-input {
    font-family: cursive;
    border-radius: 4px;
    font-size: 20px;
    width: 90%;
    outline: none;
    overflow: auto;
    padding: 2% 5%;
}

li.divider {
    margin-left: -20px;
    padding-left: -10px;
    width: 200px;
    margin-bottom: 80px
}

form#search {
    padding: 4px;
    text-align: left !important;
    float: right;
    width: fit-content;
    text-align: right;
    background-color: #D6D6D6;
    border-radius: 3px;
}

form#search input{
    height: 25px;
}

.package-content hr {
    margin: 15px;
}

.adminOption {
    display: block;
}

.parcel-views {
    display: none;
}

form[name='action-prompt'] {
    font-size: 20px;
    background: whitesmoke;
    width: 250px;
    height: 90px;
    padding: 5px;
    border-radius: 3px;
    text-align: center;
    color: rgb(255, 87, 34);
    position: absolute;
    display: none;
    z-index: 5;
}

/* mobile */
@media screen and (max-width: 760px) {
    .parcel-action {
        position: inherit;
        text-align: center;
    }

    #new-parcel-viewport {
        display: block;
    }

    .steer-cancel-icon,
    .steer-icon {
        margin: 0px 40px;
    }
}

/* tablet */
@media screen and (min-width:760px) {

    .steer-cancel-icon,
    .steer-icon {
        margin: 0px 47px;
    }
}

/* desktop */
@media screen and (min-width:1500px) {}