#about {
    padding-top: 25px;
    display: block;
    text-align: center;
    width: -webkit-fill-available;
    min-width: 193px;
    padding-bottom: 30px;
    background: whitesmoke;
}


#statistics {
    display: none;
}

.profile-icon {
    background: url('../images/icons/profile.svg');
}

.ferry-icon {
    background-image: url('../images/icons/ferry.svg');
}

.processed-icon {
    background-image: url('../images/icons/processed.svg');
}

.unprocessed-icon {
    background-image: url('../images/icons/unprocess.svg');
}

.stats-badge {
    padding: 5px;
    width: 31px;
    height: 31px;
    display: table-cell;
    vertical-align: middle;
    border-radius: 50%;
    border: 1px solid #FF5722;
}

.badges {
    display: inline;
}

#profile {
    display: block;
}

#profile h1 {
    display: block;
}

.hide-in-desktop {
    display: flex;
}

/* tablet */
@media screen and (min-width:1000px) {
    #statistics {
        display: block;
    }
}

/* mobile */

@media screen and (min-width:760px) {

    form#settingsUI {
        margin: 0 14%;
        padding: 20px;
    }
}

/* desktop */
@media screen and (min-width:1500px) {
   
    #about {
        width: 50%;
        margin: auto;
    }
}