#about {
    padding-top: 25px;
    display: block;
    text-align: center;
    width: -webkit-fill-available;
    min-width: 193px;
    padding-bottom: 30px;
    background: whitesmoke;
}

#statistics {
    display: block;
    text-align: center;
}

.profile-icon {
    background: url('../images/icons/profile.svg');
}

.stats-badge {
    padding: 5px;
    width: 133px;
    height: 133px;
    display: table-cell;
    vertical-align: middle;
    border-radius: 50%;
    border: 5px solid #FF5722;
}

.badges {
    display: inline;
}

#profile {
    display: block;
}

#profile h1 {
    display: block;
}

@media screen and (min-width:1000px) {

}

@media screen and (width:1500px) {
    #profile-sumary, #profile-sumary {
        display: block;
    }
}

@media screen and (min-width:760px) {
    form#settingsUI {
        margin: 0 14%;
        padding: 20px;
    }


}