input {
 width: 50%;
}

.title-header {
 padding: 2px 4%;
 margin: 0px;
}

#message-alert {
 position: fixed;
 bottom: 50%;
}

/* mobile */
@media screen and (max-width: 760px) {

 form#settingsUI {
  padding: 20px;
 }
}

@media screen and (max-width:479px) {
 input {
  width: 100%;
 }
}

/* tablet */
@media screen and (min-width:1000px) {
 form#settingsUI {
  margin: 0 20%;
  padding: 20px;
 }
}

/* desktop */
@media screen and (min-width:1500px) {}