input {
 width: 50%;
}

/* mobile */
@media screen and (max-width: 760px) {
 input {
  width: 100%;
 }

 form#settingsUI {
  padding: 20px;
 }

}

/* tablet */
@media screen and (min-width:1000px) {
 form#settingsUI {
  margin: 0 20%;
  padding: 20px;
 }
}

/* desktop */
@media screen and (min-width:1500px) {
 
}