/* tablet */
fieldset{
 text-align: left;
}
.signup-option {
 text-align: justify;
 width: fit-content;
 margin-left: 14px;
}

.signup-option {
 text-align: justify;
 width: fit-content;
 margin-left: 14px;
}

#message-alert {
 position: fixed;
 bottom: 50%;
}

@media screen and (min-width:620px) {
 .multi-display {
  display: inline-flex;
 }
}