#about, #statistics{
    padding: 25px;
    display: block;
    text-align: center;
    width: -webkit-fill-available;
    min-width: 193px;
    padding-bottom: 30px;
    background: whitesmoke;
}

.stats-badge{
    padding: 3px;
    width: 100px;
    height: 100px;
    display: table-cell;
    vertical-align: middle;
    border-radius: 50%;
    border:5px solid #FF5722;
}
#aveter-container{
    display: inline-block;
    width: 50%;
    margin: auto;
    min-width: 300px;
}
#profile-sumary{
    display: inline-block;
    width: 50%;
    min-width: 300px;
    padding: 10px;
    margin-top: 10px;
}
.badges{
    display: inline;
   
}
#profile{
    display: block;
}
#profile h1{
    display: block;
}
